/.git
/.github
/.idea
/.vscode
/node_modules
/vendor
/facturador
/storage/logs
/storage/app/images
/storage/app/public
/storage/app/storage-demo-backups
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/public/hot
/.env
/.env.*
!.env.example
