.git
.gitlab
.github
.idea
.vscode
node_modules
frontend-react/node_modules
vendor
docker-data
facturador
facturadorpro5
*.sock
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/framework/testing
.cache
tmp
public/react-app
frontend-react/dist
public/js
public/css
public/porto-light
public/fonts
public/images
public/vendor
public/*.worker.js
public/*.worker.js.map
public/mix-manifest.json
resources/css
resources/views/tenant/layouts
resources/views/billing/layouts
resources/views/vendor/larecipe
resources/views/errors
.env
.env.*
!.env.example
!.env.dusk.example
docker-compose.yml
docker-compose.yaml
